@import "tailwindcss";


/*  VARIÁVEIS E BASE */
:root {
  --primary: #00a0a6;
  --secondary: #2E5266;
  --light: #EFF2F1;
  --gray: #e4e4e4;
  --text: #222;
  --max-width: 1100px;

}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--text);
  /* background: var(--light); */
  line-height: 1.6;
}

@import "tailwindcss";

/* VARIÁVEIS E BASE */
:root {
  --primary: #00a0a6;
  --secondary: #2E5266;
  --light: #EFF2F1;
  --gray: #e4e4e4;
  --text: #222;
  --max-width: 1100px;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--text);
  /* background: var(--light); */
  line-height: 1.6;
}

/* Estilos para a barra de força da senha */
.barra.fraca {
  background-color: #FF5252 !important; /* vermelho */
}

.barra.media {
  background-color: #FFC107 !important; /* amarelo */
}

.barra.forte {
  background-color: #4CAF50 !important; /* verde */
}

/* Estilos para bordas do input */
.fraca {
  border-color: #FF5252 !important;
}

.media {
  border-color: #FFC107 !important;
}

.forte {
  border-color: #4CAF50 !important;
}
