body {
    padding: 0;
    margin: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* FORMULARIO */

.container{
    margin-top: 64px;
    margin-bottom: 64px;
    width: 100%;

    display: flex;
    justify-content: center;
}

.forms-section {
    width: fit-content;
    height: fit-content;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 25px 30px;
}

/* ESTILO DO "BEM-VINDO */

.forms-header {
    text-align: center;
    margin: 10px 0 10px 0;
    font-size: 20px;
    font-weight: 800;
}

.forms-header h1{
    margin-bottom: 10px;
}

.divider {
    border: 1px solid rgb(228, 227, 227);
    margin-bottom: 30px;
}

/* INICIO DA ESTILIZAÇÃO DO FORMULÁRIO */
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 15px;
}


.input{
    height: 64px;
    border-radius: 32px;
    font-size: 24px;
    border: 1px solid #c0c0c0;
    outline: 0;
    box-sizing: border-box;
    padding: 12px 15px;
}

.forms-content input::placeholder {
    font-size: 24px;
}

.genero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.genero-section label {
    font-size: 20px;
}

.genero-section select {
    height: 64px;
    width: flex 1;
    font-size: 20px;

    border: 1px solid #c0c0c0;
    border-radius: 32px;
    padding: 8px;
}




.btn-submit {
    padding: 10px 15px;
    height: 64px;
    font-size: 24px;
    border-radius: 32px;
    border: 0;
    outline: 0;
    background: #2E5266;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.entrarConta {
    display: flex;
    gap: 4px;
}

.entrarConta p {
    margin: 0;
    font-size: 20px;
    color: #747474;
}

.btn-entrar {
    background: none;
    border: none;

    color: #2E5266;
    text-decoration: underline;
    font-size: 20px;

    cursor: pointer;
}

